footer {
  max-width: $main-width;
  margin: 0 auto;
  padding: 0 $side-padding;
  color: #777;
  .additional {
    margin: 0 auto;
    padding: 20px 0;
    color: #aaa;
    font-size: 0.8em;
    text-align: center;
    a {
      text-decoration: none;
      color: #aaa;
      font-weight: bold;
    }
  }
}