
.hamburger {
  @media screen and (min-width: ($break-point - 1px)) {
    display: none;
  }
  display:inline-block;
  width: 20px;
  height: 20px;
  $gutter-distance: 6px;
  span {
    display: inline-block;
    width: 20px;
    height: 1px;
    background: #f8f8f8;
    position: relative;
    margin-bottom: 4px;
    &:before, &:after {
      content: " ";
      position: absolute;
      width: 20px;
      height: 1px;
      left: 0;
      transform:  rotate(0);
      transition: transform 0.35s ease;
    }
    &:before {
      background: #f8f8f8;
      top: -$gutter-distance;
    }
    &:after {
      background: #f8f8f8;
      top: $gutter-distance;
    }
  }
  &.toggle {
    span {
      visibility: hidden;
      &:before, &:after {
        visibility: visible;
        //transition: all 0.5s ease;
      }
      &:before {
        transform: translate(0, $gutter-distance)  rotate(45deg);
      }
      &:after {
        transform: translate(0, -$gutter-distance)  rotate(-45deg);
      }
    }
  }
}