.nav {
  // LOCAL VARS
  $a-line-height: 20px;
  $a-padding-top-bottom: 10px;
  // padding-top + padding-bottom + line-height + border-bottom
  $a-actual-height: 2 * $a-padding-top-bottom + $a-line-height + 1px + $header-height;

  a {
    padding: $a-padding-top-bottom 10px;
    border-radius: 5px;
    text-decoration: none;
    line-height: $a-line-height;
    color: #f8f8f8;
    // background: #333;
    // background: rgba(0,0,0,0.8);
    &:hover {
      color: #909090;
    }
  }
  @media screen and (max-width: $break-point) {
    z-index: 1;
    position: absolute;
    background: $header-color;
    width: 100%;
    padding: 0;
    left: 0;
    top: 0;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.35s ease-in-out; // max-height and padding
    a {
      display: block;
      border-bottom: 1px solid lighten($header-color, 40%);
      border-radius: 0;
    }
    &.toggle {
      padding: (20px + $header-height) 10px 20px;
      // a little hack to make it animate
      max-height: $a-actual-height * $menu-num + 20px * 2;
    }
  }
}