header {
  height: $header-height;
  background: $header-color;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $header-height;
    padding: 0 $side-padding;
    max-width: $main-width;
    margin: 0 auto;
    .menu {
      $burger-height: 20px;
      z-index: 2;
      padding: ($header-height - $burger-height)/2 0;
      @import "hamburger";
    }
    @media screen and (max-width: $break-point) {
      .menu {
        order: 1;
      }
    }
    @import "header-nav";
  }
  .site-title {
    color: #ecf0f1; //cloud
    text-decoration: none;
    display: inline-block;
    z-index: 2;
    code {
      font-size: 25px;
    }
    img {
      width: 40px;
    }
    &:hover {
      color: #10ff04;
      text-decoration: none;
    }
  }
}