// main
.main {
  border-bottom: 1px solid #e8e8e8;
  .wrapper {
    padding: 0 $side-padding 25px;
    margin: 0 auto;
    max-width: $main-width;
  }
  time {
    color: #808080;
  }
  .post-list-title {
    color: #555;
    font-size: 2em;
    font-weight: 300;
    a {
      color: #555;
      &:hover {
        color: $link-hover-red;
      }
    }
  }
}