.post-author {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 10px;
  border-top: 1px solid #e8e8e8;
  a {
    flex: 0 1 50px;
    padding: 5px;
  }
  img {
    margin: 0;
    border-radius: 50%;
    max-width: 100%;
  }
}