.side.toc {
  $toc-item-color: #3498db;
  $toc-width: 250px;
  $toc-shifting: $toc-width + 30px;
  // TOC will display if screen width greater than this value
  $toc-break-point: $main-width + $toc-shifting * 2;
  width: $toc-width;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  background: #fefefe;
  @media screen and (min-width: $toc-break-point) {
    float: left;
    margin-left: -$toc-shifting;
    &.fixed {
      position: fixed;
      top: 0;
    }
  }
  @media screen and (max-width: ($toc-break-point - 1px)) {
    display: none;
  }
  .toc-title {
    margin-top: 10px;
    font-size: 20px;
  }
  .toc {
    padding-left: 0;
  }
  ol {
    list-style: none;
    padding-left: 20px;
  }
  li {
    margin: 6px 0;
    &.active {
      font-weight: bold;
    }
  }
  a {
    text-decoration: none;
    color: $toc-item-color;
    &:hover {
      color: $link-hover-red;
    }
  }
}