@import "var";
@import "include-media";
@import "normalize";
@import "highlight";
@import "extra";
@import "toc";

$break-point: $main-width + $margin-side * 2;

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

body {
  font-family: $font_base;
  color: #55565f;
}

code, pre {
  font-family: $font_mono;
  font-size: 0.8em;
}

header {
  border-bottom: 1px solid #e8e8e8;
  height: 50px;
  background: #333;
  background: rgba(0,0,0,0.8);
  .wrapper {
    @include media(">#{$break-point}") {
      margin: 0 auto;
      width: $main-width;
    }
    @include media("<=#{$break-point}") {
      margin: 0 $margin-side 0;
    }
  }
  .site-title {
    color: #ecf0f1; //cloud
    text-decoration: none;
    display: inline-block;
    margin-top: 5px;
    code {
      font-size: 25px;
    }
    &:hover {
      color: #10ff04;
      text-decoration: none;
    }
  }
  .nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
    margin-top: 15px;
    float: right;
    li {
      display: inline;
      padding: 5px;
      a {
        text-decoration: none;
        color: #eee;
        &:hover {
          color: #999;
        }
      }
    }
  }
}


/**
 * main
 */
.main {
  border-bottom: 1px solid #e8e8e8;
  code {
    border-radius: 3px;
    background: #f1f1f1;
    padding: 0.2em 0;
    margin: 0;
    font-size: 85%;
    &:before, &:after {
      content: "\00a0";
      letter-spacing: -0.2em;
    }
  }
  p {
    line-height: 1.6em;
  }
  .wrapper {
    @include media(">#{$break-point}") {
      margin: 0 auto 25px;
      width: $main-width;
    }
    @include media("<=#{$break-point}") {
      margin: 0 $margin-side 25px;
    }
    h2 {
      color: #2c3e50;
      a {
        text-decoration: none;
        &:visited {
          color: #2c3e50;
        }
        &:hover {
          color: #e74c3c;
        }
      }
    }
    .post-list {
      list-style: none;
      margin: 0;
      padding: 0;
      .post-item {
        margin: 15px auto;
      }
    }
    .post-meta {
      color: #777;
      font-size: 0.8em;
    }
    .post-title {
      margin: 10px auto 5px;
      color: #4c6dd1;
      font-weight: 200;
      a {
        text-decoration: none;
        &:link, &:visited {
          color: #4c6dd1;
        }
        &:hover {
          color: #e74c3c;
        }
      }
    }
  }

}

.post {
  .post-header {
    text-align: center;
    margin: 1.5em auto;
  }

  .post-title {
    margin-top: 15px;
    a {
      text-decoration: none;
    }
  }

  .post-tags {
    color: #777;
    font-size: 0.8em;
    text-align: right;
    a {
      text-decoration: none;
      color: #777;
      font-style: italic;
    }
  }

  img {
    max-width: calc(100% + #{$margin-side}* 2);
    display: block;
    margin:0 (-$margin-side);
    &.xs, &.small {
      max-width: 100%;
      margin: 0 auto;
    }
  }

  h1, h2, h3, h4, h5 {
    font-weight: 300;
  }

  blockquote {
    margin: 0;
    margin-left: 15px;
    border-left: 3px solid #ccc;
    padding: 10px 0px 10px 15px;
    p {
      margin: 0
    }
    footer {
      margin-top: 10px;
      cite {
        &:before {
          content: " - ";
        }
      }
    }
  }
}

.post-nav {
  position: relative;
  height: 20px;
  a {
    text-decoration: none;
    letter-spacing: 0.1em;
    font-size: 0.8em;
    font-weight: 200;
    color: #555;
    transition: opacity 0.5s ease;
    &:hover {
      opacity: 0.4;
    }
    // nav icon
    .icon {
      height: 24px;
      width: 24px;
      margin-bottom: -7px;
      fill: #555;
    }
  }
  .nav {
    position: absolute;
    @include media(">1100px") {
      position: fixed;
    }
    &.stop {
      position: absolute;
    }
  }
  .prev {
    left: 20px;
    bottom: 20px;
  }
  .next {
    right: 20px;
    bottom: 20px;
  }
}

.post-footer {
  margin: 40px auto;
  text-align: center;
  // post-footer button
  a {
    text-decoration: none;
    color: #999;
    border: 1px solid #fff;
    border-color: #999;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    &:hover {
      color: #3498db;
      border: 1px solid #3498db;
    }
  }
}

#disqus_thread {
  &.hide {
    display: none;
  }
  iframe {
    height: 327px;
    height: auto !important;
    min-height: 327px;
  }
}

/* paginator */
.paginator {
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  a {
    text-decoration: none;
    &:hover {
      color: #e74c3c;
    }
  }
  .page-number {
    margin: 0 5px;
    padding: 2px 3px;
    &.current {
      background: #eee;
      color: black;
    }
  }
  .extend {
    &.next {
      float: right;
    }
    &.prev {
      float: left;
    }
  }
}

footer {
  @include media (">#{$break-point}") {
    width: $main-width;
  }
  @include media ("<=#{$break-point}") {
    margin: 0 $margin-side;
  }
  margin: 0 auto;
  color: #777;
  .additional {
    margin: 0 auto;
    padding: 20px 0;
    color: #aaa;
    font-size: 0.8em;
    text-align: center;
    a {
      text-decoration: none;
      color: #aaa;
      font-weight: bold;
    }
  }
}

.highlight {
  figcaption {
    position: absolute;
    right: 0;
    color: #333;
    font-size: 0.9em;
    font-style: italic;
    margin-right: 5px;
    a {
      text-decoration: none;
      margin: 0 10px;
      font-size: 0.9em;
    }
  }
  .gutter {
    & pre {
      color: #777;
      margin: 0;
    }
    padding: 24px 16px;
    text-align: right;
    vertical-align: top;
    background: #e5e5e5;
  }
  .code {
    max-width: 0;
    width: 100%;
    & pre {
      margin: 0;
      padding: 24px 20px 24px 10px;;
      // border-left: 2px solid #aaa;
    }
  }
  position: relative;
  margin: 0 (-$margin-side);
  background: #f5f5f5;
}


.post-content {
  @include media(">#{$break-point}") {
    // float: right;
    width: $main-width;
  }
  a:hover {
    background: #555;
    border-radius: 3px;
    color: #f3f3f3;
    text-decoration: none;
    transition: all 0.5s ease;
  }
  @import "admonition";
}