@import "var";
@import "include-media";
@import "normalize";
@import "highlight";
@import "extra";

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

body {
  font-family: $font_base;
}

code, pre {
  font-family: $font_mono;
  font-size: 0.8em;
}

header {
  border-bottom: 1px solid #e8e8e8;
  height: 50px;
  background: #333;
  background: rgba(0,0,0,0.8);
  .wrapper {
    @include media(">900px") {
      margin: 0 auto;
      width: $main-width;
    }
    @include media("<=900px") {
      margin: 0 15px 0;
    }
  }
  .site-title {
    color: #ecf0f1; //cloud
    text-decoration: none;
    display: inline-block;
    margin-top: 5px;
    code {
      font-size: 25px;
    }
    &:hover {
      color: #10ff04;
      text-decoration: none;
    }
  }
  .nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
    margin-top: 15px;
    float: right;
    li {
      display: inline;
      padding: 5px;
      a {
        text-decoration: none;
        color: #2980b9;
        &:hover {
          color: #80C8F9;
        }
      }
    }
  }
}


/**
 * main
 */
.main {
  border-bottom: 1px solid #e8e8e8;
  .wrapper {
    @include media(">900px") {
      margin: 0 auto;
      width: 800px;
    }
    @include media("<=900px") {
      margin: 0 15px 0;
    }
    h2 {
      color: #2c3e50;
      a {
        text-decoration: none;
        &:visited {
          color: #2c3e50;
        }
        &:hover {
          color: #e74c3c;
        }
      }
    }
    .post-list {
      list-style: none;
      margin: 0;
      padding: 0;
      .post-item {
        margin: 15px auto;
      }
    }
    .post-meta {
      color: #777;
      font-size: 0.8em;
    }
    .post-title {
      margin: 15px auto 5px;
      color: #2980b9;
      font-weight: 200;
      a {
        text-decoration: none;
        &:link, &:visited {
          color: #2980b9;
        }
        &:hover {
          color: #e74c3c;
        }
      }
    }
  }

}

.post {
  .post-title {
    margin-top: 15px;
    a {
      text-decoration: none;
    }
  }

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  h1, h2, h3, h4, h5 {
    font-weight: 300;
  }

  blockquote {
    margin: 0;
    margin-left: 15px;
    border-left: 3px solid #ccc;
    padding: 10px 0px 10px 15px;
    p {
      margin: 0
    }
    footer {
      margin-top: 10px;
      cite {
        &:before {
          content: " - ";
        }
      }
    }
  }
}

.post-footer {
  margin: 40px auto;
  text-align: center;
  // post-footer button
  a {
    text-decoration: none;
    color: #999;
    border: 1px solid #fff;
    border-color: rgba(0,0,0,0);
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    &:hover {
      color: #3498db;
      border: 1px solid #3498db;
    }
  }
}

#disqus_thread {
  display: none;
}

/* paginator */
.paginator {
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  a {
    text-decoration: none;
    &:hover {
      color: #e74c3c;
    }
  }
  .page-number {
    margin: 0 5px;
    padding: 2px 3px;
    &.current {
      background: #eee;
      color: black;
    }
  }
  .extend {
    &.next {
      float: right;
    }
    &.prev {
      float: left;
    }
  }
}

footer {
  @include media (">900px") {
    width: $main-width;
  }
  @include media ("<=900px") {
    width: 90%;
  }
  margin: 0 auto;
  color: #777;
}