@import "var";
@import "normalize";
@import "highlight";
@import "extra";

body {
  font-family: $font_base;
}

code, pre {
  font-family: $font_mono;
  font-size: 0.8em;
}

header {
  border-bottom: 1px solid #e8e8e8;
  height: 50px;
  background: #333;
  background: rgba(0,0,0,0.8);
  .wrapper {
    margin: 0 auto;
    width: $main-width;
  }
  .site-title {
    color: #ecf0f1; //cloud
    text-decoration: none;
    display: inline-block;
    margin-top: 5px;
    code {
      font-size: 25px;
    }
    &:hover {
      color: #10ff04;
      text-decoration: none;
    }
  }
  .nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
    margin-top: 15px;
    float: right;
    li {
      display: inline;
      padding: 5px;
      a {
        text-decoration: none;
        color: #2980b9;
        &:hover {
          color: #80C8F9;
        }
      }
    }
  }
}


/**
 * main
 */
.main {
  border-bottom: 1px solid #e8e8e8;
  .wrapper {
    margin: 0 auto;
    width: $main-width;
    h2 {
      color: #2c3e50;
      a {
        text-decoration: none;
        &:visited {
          color: #2c3e50;
        }
        &:hover {
          color: #e74c3c;
        }
      }
    }
    .post-list {
      list-style: none;
      margin: 0;
      padding: 0;
      .post-item {
        margin: 15px auto;
      }
    }
    .post-meta {
      color: #777;
      font-size: 0.8em;
    }
    .post-title {
      margin: 15px auto 5px;
      color: #2980b9;
      font-weight: 300;
      a {
        text-decoration: none;
        &:link, &:visited {
          color: #2980b9;
        }
        &:hover {
          color: #e74c3c;
        }
      }
    }
  }
}

.post {
  .post-title {
    margin-top: 15px;
    a {
      text-decoration: none;
    }
  }

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  h1, h2, h3, h4, h5 {
    font-weight: 300;
  }

  blockquote {
    margin: 0;
    margin-left: 15px;
    border-left: 3px solid #ccc;
    padding: 10px 0px 10px 15px;
    p {
      margin: 0
    }
    footer {
      margin-top: 10px;
      cite {
        &:before {
          content: " - ";
        }
      }
    }
  }
}

/* paginator */
.paginator {
  padding: 5px;
  text-align: center;
  a {
    text-decoration: none;
    &:hover {
      color: #e74c3c;
    }
  }
  .page-number {
    margin: 0 5px;
    padding: 2px 3px;
    &.current {
      background: #eee;
      color: black;
    }
  }
  .extend {
    &.next {
      float: right;
    }
    &.prev {
      float: left;
    }
  }
}

footer {
  width: $main-width;
  margin: 0 auto;
  color: #777;
}