li {
  line-height: 1.8em;
}

p {
  line-height: 1.6em;
}

h2 {
  font-size: 2em;
  font-weight: 300;
}

// special hr
hr {
  border: none;
  height: 0;
  &:before {
    content: '* * *';
    font-size: 2em;
    margin: 50px auto;
    text-align: center;
    color: #4c6dd1;
    display: block;
  }
}

code {
  border-radius: 3px;
  background: #f1f1f1;
  padding: 0.2em 0;
  margin: 0 4px;
  font-size: 85%;
  &:before, &:after {
    content: "\00a0";
    letter-spacing: -0.2em;
  }
}

dl { // definition list
  dt {
    margin-left: 2em;
    font-weight: bold;
  }
  dd {
    margin-left: 2em;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  padding-bottom: 10px;
  width: 100%;
  overflow: auto;
  word-break: keep-all;
  th {
    font-weight: bold;
  }
  tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
    &:nth-child(2n) {
      background-color: #f8f8f8;
    }
  }
  th,
  td {
    padding: 0;
    padding: 6px 13px;
    text-align: left;
    border: 1px solid #ddd;
  }
}