
section.main.archive
  .wrapper
    - var last = 0;
    - var store = [];

    - page.posts.each(function (post) {
      - var year = post.date.year();
      - if(last !== year)
        - if (store.length > 0)
          +posts_in_a_year(last, store)
        - last = year;
        - store = [];

      - store.push(post);

    - })

    //- if store is not empty
    //- we still need to dump it
    - if (store.length > 0)
      +posts_in_a_year(last, store)

    -
      var pagi = paginator({
        prev_text: '&laquo; Prev',
        next_text: 'Next &raquo;'
      });
    .paginator!= pagi