<footer>
  <% if (theme.title) { %>
  <h3><%= theme.title %></h3>
  <% } %>
  <% if (theme.description) { %>
  <p><%- theme.description %></p>
  <% } %>
  <% if (theme.footer) { %>
  <div class="additional">
      <%- theme.footer %>
  </div>
  <% } %>
</footer>
<%- js('js/script.js') %>
</body>
</html>