section.main.index
  .wrapper
    - var postListName = theme.post_list_name || 'Posts';
    h2.post-list-title= postListName

    ul.post-list

      - page.posts.each(function (post) {

        li.post-item

          +post-meta(post)

          +post-title(post)

      - })

    - if (theme.per_page > 0)
      -
        var pagi = paginator({
          base: theme.root,
          prev_text: '&laquo; Prev',
          next_text: 'Next &raquo;'
        });
      .paginator!= pagi
