<% var post = page %>
<% if (theme.post_nav) { %>
<div class="post-nav">
<div style="height: 0; width: 0; position: absolute; visibility: hidden">
  <!-- inject:svg --><svg xmlns="http://www.w3.org/2000/svg"><symbol id="ic_chevron_left_white_24px" viewBox="0 0 24 24">
    <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/>
    <path d="M0 0h24v24H0z" fill="none"/>
</symbol><symbol id="ic_chevron_right_white_24px" viewBox="0 0 24 24">
    <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
    <path d="M0 0h24v24H0z" fill="none"/>
</symbol></svg><!-- endinjected -->
</div>
  <% if(post.prev) { %>
    <a href="<%- url_for(post.prev.path) %>" class="nav prev">
    <svg class="icon left"><use xlink:href="#ic_chevron_left_white_24px" /></svg>PREVIOUS</a>
  <% } %>
  <% if(post.next) { %>
    <a href="<%- url_for(post.next.path) %>" class="nav next">
    NEXT<svg class="icon right"><use xlink:href="#ic_chevron_right_white_24px" /></svg></a>
  <% } %>
</div>
<% } %>