<% if ((theme.disqus_shortname && page.comments) || theme.source_repo) { %>
<div class="post-buttons">
  <% if (theme.disqus_shortname && page.comments) { %>
    <a href="#" id="comments-trigger">Comments</a>
  <% } %>
  <% if (theme.source_repo) { %>
    <% var link_prefix = theme.source_repo.match(/\/$/) ? theme.source_repo : theme.source_repo + '/' %>
    <a href="<%= link_prefix + page.source %>" target="_blank">Source</a>
  <% } %>
</div>
<% } %>