section.main.post
  .wrapper.clearfix
    .post-header
      +post-title(page)
      +post-meta(page)

    include toc
    .post-content!= page.content
    include post-footer
    include post-author
    include post-buttons
    include disqus
  include post-nav