<% var post = page %>
<% var shouldComment = !!(post.comments && theme.disqus_shortname) %>
<% if(theme.post_nav || shouldComment) { %>
<div class="post-footer">
  <% if(post.prev) { %>
  <a href="<%- url_for(post.prev.path) %>">Prev Post</a>
  <% } %>
  <% if(shouldComment) { %>
  <a href="#" id="show-comment">Comments</a>
  <% } %>
  <% if(post.next) { %>
  <a href="<%- url_for(post.next.path) %>">Next Post</a>
  <% } %>
</div>
<% } %>