-
  var authorsArr = page.author || page.authors || [];
  var authors = [];
  var noavatar = 'assets/noavatar.svg';

  if (!Array.isArray(authorsArr)) {
    authorsArr = [authorsArr]
  }

  authorsArr.forEach(function (el) {
    if(theme.authors[el]) {
      authors.push(
        Object.assign({
          link: theme.authors[el].avatar
        }, theme.authors[el])
      );
    } else {
      authors.push({
        name: el,
        avatar: theme.root + noavatar,
        link: theme.root + noavatar
      });
    }
  });


//-
- if (authors.length > 0)
  .post-author
    - authors.forEach(function (author) {
      a(href=author.link)
        img(src=author.avatar, alt=author.name)
        span.tooltip-arrow
        span.tooltip= author.name
    - });