<%
var updated = false;
var tags = false;
var categories = false;
var author = false;
if (post.updated) {
  updated = post.updated;
}
if (post.author) {
  author = post.author;
}
if (post.tags && post.tags.data.length > 0) {
  tags = post.tags;
}
if (post.categories && post.categories.data.length > 0) {
  categories = post.categories;
}
%>
<% if (updated || tags || categories || author) { %>
<div class="post-footer">
  <%
  var pf = []
  if(author) {
    pf.push('By ' + post.author)
  }
  if(updated) {
    pf.push('Updated on' + date(post.updated, 'YY/MM/DD'));
  }
  if(tags || categories) {
    var tc = 'Posted';
  }
  if (post.categories.data.length > 0) {
    if (post.categories.data.length > 1) {
      tc += ' in categories '
    } else {
      tc += ' in category '
    }
    for(var i=0; i<post.categories.data.length; i++) {
      var cate = post.categories.data[i];
      tc += '<a href="' + url_for(cate.path) + '">' + cate.name + '</a>';
    }
  }
  if (post.tags.data.length > 0) {
    if (post.tags.data.length > 1) {
      tc += ' with tags ';
    } else {
      tc += ' with tag ';
    }
    for(var i=0; i<post.tags.data.length; i++) {
      var tag = post.tags.data[i];
      tc += '#<a href="' + url_for(tag.path) + '">' + tag.name + '</a> ';
    }
  }
  if(tags || categories) {
    pf.push(tc)
  }
  %>
  <%- pf.join(', ') %>
</div>
<% } %>